*{
    margin: 0%;
    padding: 0%;
}
#heading{
    text-align: center;
}
.box{
    margin: 5px;
    height: 100px;
    width: 200px;
    background-color: orange;
}
@media screen and (min-width: 100px){
    .box{
        border: 3px solid red;
    }
}
