

h1{
    color: red;
}
#heading2{
    color: rgb(229, 15, 158);
}
.article{
    color: rgb(60, 26, 199);
}
#div1 {
    color: darkgoldenrod;
}
#first, #second{
    color: cornflowerblue;
}
