.box{
    height: 100px;
    width: 100px;
}
#box1{
    background-color: red;
    text-align: left;
}
#box2{
    background-color: green;
    text-align: center;
}
#box3{
    background-color: blue;
    text-align: right;
}
#h3{
    text-decoration: underline;
}
#h4{
    text-decoration: line-through;
}
#h5{
    text-decoration: overline;
}
#a1{
    text-decoration: underline;
}
#h11{
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgb(75, 24, 205);
    text-transform: uppercase;
}
#h22{
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgb(168, 21, 136);
    text-transform: lowercase;
}
#h33{
    text-decoration: underline;
    text-decoration-style:double;
    text-decoration-color: cadetblue;
    text-transform: capitalize;
}
#h44{
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color: rgb(196, 90, 19);
    text-transform: none;
}
#h55{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: coral;
}
#p1{
    line-height: 6px;
}
#p2{
    line-height: 50px;
}
#d1{
    font-size: 5px;
    font-weight: 100;
}
#d2{
    font-size: 15px;
    font-weight: 300;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}
#d3{
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#d4{
    font-size: 35px;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}
.article5{
    font-family: "Libre Baskerville", serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}