*{
    margin: 0%;
    padding: 0%;
}
#heading{
    text-align: center;
}
#container{
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
}
#item1{
    background-color: lightblue;
    grid-row: 1/2;
    grid-column: 1/2;
}
#item2{
    background-color: lightgreen;
    grid-row: 1/2;
    grid-column: 2/2;
}
#item3{
    background-color: lightpink;
    grid-row: 2/2;
    grid-column: 1/2;
}
#item4{
    background-color: lightyellow;
    grid-row: 2/2;
    grid-column: 2/2;
}