*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif
}
header{
    text-align: center;
    text-transform: capitalize;
    background-color: blanchedalmond;
}
#inner{
    font-size: 15px;
}
#outer{
    font-size: 25px;
}